
* {
    padding: 0;
    box-sizing: border-box;
}
body {
    background: deepskyblue;
    background: linear-gradient(0deg, rgb(116, 186, 243,1) 0%, rgb(56, 95, 236,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}
  
.container {
    padding: 0 100px 100px;
}

nav ul,
.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

li {
    list-style: none;
    margin-left: 30px;
}

.lgo {
    font-size: xx-small;
}
  
a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section {
    height: calc(100vh - 81.6px);
}
  
.text {
    margin-top: 120px;
}
  
.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}
  
.text span {
    display: inline-block;
}
  
span:hover {
    color: #48cfad;
    transition: all .5s;
}
  
span.name {
    color: #ED5565;
}
  
span.m-left {
    margin-left: 10px;
}


.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}
  
.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}
  
.text a:hover {
    color: #fff;
}
  
.text a::before {
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}
  
.text a:hover::before {
    height: 100%;
}
  
@media only screen and (min-width: 35em){
    h1 {
        font-size: 3em;
        margin: .2em .2rem .2em .2em;
    }
}

h2 {
    border-bottom: 1px solid #fff;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

.contact h1 {
    text-align: right;
    font-size: 10rem;
}

.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}



main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}



.navbar ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    background: #000000;
    color: #fff;
    transition: ease 0.3s all;
}


.header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


.footer {
    background: #fff;
    padding: 3em;
    color: #fff;
}

.footer p{
    color: #fff;
}



.container {
    padding: 1em;
    text-align: left;
}


@media only screen and (min-width: 35em){
    .container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

section:nth-of-type(odd) .container::before {
    content: '';
    background: rgb(116, 186, 243,1);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(116, 186, 243,1) 0%, rgb(116, 186, 243,1) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;  
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(116, 186, 243,1) 0%, rgb(116, 186, 243,1) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}



section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

.work-category button {
    text-transform: capitalize;
    border: 3px solid #ED5565;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ED5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: cornflowerblue;
    outline: none;
    cursor: pointer;
  }
  
  div[class^='category-'] {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    grid-gap: 20px;
  }
  
  .work a {
    justify-self: center;
    position: relative;
    display: inline-block;
  }
  
  .work-category .active {
    background-color: darkblue;
  }
  
  button.active {
    color: #fff;
  }
  
  .work a img {
    width: 350px;
    justify-self: center;
  }
  
  div.hideCategory {
    display: none;
  }
  
  .showCategory {
    display: block;
  }
  

.contact {
    margin-top: 50px;
}
  
form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: beige;
    border: 3px solid bisque;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
  
form input:last-child {
    width: 150px; 
    background-color: chocolate;
    border: none;
    cursor: pointer;
}
  
footer hr {
    border: 2px solid #fff;
    margin-top: 80px;
}


  
footer p {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    padding: 30px 0;
}
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}